.wrapper {
  display: grid;
}


/* Workbench Parts */
.titlebar {
  grid-area: titlebar;
  height: 36px;
  background-color: #505050;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-inline-end: 4px;
}
.primarysidebar {
  grid-area: primarysidebar;
  display: flex;
  flex-flow: row nowrap
}
.activitybar {
  width: 48px;
  height: 1114px;
  background-color: #D9D9D9;
}
.sidebar {
  width: 348px;
  height: 1114px;
  background-color: #ACACAC;
}
.editor {
  grid-area: editor;
  width: 100%;
  height: 1114px;
  background-color: #838080;
}
.statusbar {
  grid-area: statusbar;
  height: 22px;
  background-color: #494949;
}


/* Workbench Layout */
.default-layout {
  grid-template-columns: auto 4fr;
  grid-template-areas:
    "titlebar titlebar"
    "primarysidebar editor"
    "statusbar statusbar";
}
.primarysidebar-position-flipped {
  grid-template-columns: 4fr auto;
  grid-template-areas:
    "titlebar titlebar"
    "editor primarysidebar"
    "statusbar statusbar";

  & .primarysidebar .activitybar {
    order: 2;
  }
}


/* ICON */
.icon {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  &.primarysidebar-left {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M2.88889 0C1.2934 0 0 1.2934 0 2.88889V13.1111C0 14.7066 1.2934 16 2.88889 16H13.1111C14.7066 16 16 14.7066 16 13.1111V2.88889C16 1.2934 14.7066 0 13.1111 0H2.88889ZM1.33333 2.88889C1.33333 2.02978 2.02978 1.33333 2.88889 1.33333H8V14.6667H2.88889C2.02978 14.6667 1.33333 13.9702 1.33333 13.1111V2.88889Z' fill='white' /%3E%3C/svg%3E%0A");
  }
  &.primarysidebar-right {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M2.88889 0C1.2934 0 0 1.2934 0 2.88889V13.1111C0 14.7066 1.2934 16 2.88889 16H13.1111C14.7066 16 16 14.7066 16 13.1111V2.88889C16 1.2934 14.7066 0 13.1111 0H2.88889ZM8 14.6667V1.33333H13.1111C13.9702 1.33333 14.6667 2.02978 14.6667 2.88889V13.1111C14.6667 13.9702 13.9702 14.6667 13.1111 14.6667H8Z' fill='white' /%3E%3C/svg%3E");
  }
}

