.titlebar {
  grid-area: titlebar;
  background-color: #505050;

  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: right;
  column-gap: 4px;
}

.activitybar {
  width: 48px;
  background-color: #D9D9D9;
}

.main-control-panel {
  width: 100%;
  height: calc(100vh - var(--titlebar-height) - var(--statusbar-height));
  display: flex;
}

.primary-sidepanel {
  flex: 0 0 200px;
  background-color: #ACACAC;
}

.primary-dragbar,
.secondary-dragbar {
  /* width: 20px; */
  flex: 0 0 auto;

  cursor: col-resize;
  background-color: black;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: red;
    margin: 0 auto;
  }

  &:hover {
    background-color: blue;
  }
}

.control-panel {
  flex: 1 1 auto;
  background-color: #838080;
}

.secondary-sidepanel {
  flex: 0 0 200px;
  background-color: #ACACAC;
}

.statusbar {
  grid-area: statusbar;
  height: 24px;
  background-color: #494949;
}


/* Icon */
.icon {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  &.sidepanel-left {
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.39634 0.0654001C0.746703 0.238434 0.239291 0.757535 0.0663095 1.41506C-0.0221032 1.74575 -0.0221032 14.258 0.0663095 14.5887C0.239291 15.2539 0.750547 15.7692 1.41172 15.9422C1.61161 15.9922 2.41117 15.9999 8.00423 15.9999C14.9427 15.9999 14.5583 16.0114 15.0081 15.7846C15.281 15.6461 15.6193 15.3116 15.7653 15.0424C16.0152 14.5733 15.9998 15.0117 15.9998 8.00189C15.9998 2.40713 15.9921 1.60732 15.9422 1.40737C15.7692 0.745999 15.2541 0.234589 14.5891 0.0615549C14.2623 -0.0230394 1.7154 -0.0191942 1.39634 0.0654001ZM14.4853 1.33432C14.5429 1.37661 14.6275 1.46121 14.6698 1.51888L14.7505 1.6227V8.00189V14.3811L14.6698 14.4849C14.6275 14.5426 14.5429 14.6272 14.4853 14.6695C14.3815 14.7502 14.3584 14.7502 9.86474 14.7617L5.35185 14.7694V8.00189V1.23434L9.86474 1.24203C14.3584 1.25357 14.3815 1.25357 14.4853 1.33432Z" fill="white" /></svg>');
  }
  &.sidepanel-right {
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6037 0.0654001C15.2533 0.238434 15.7607 0.757535 15.9337 1.41506C16.0221 1.74575 16.0221 14.258 15.9337 14.5887C15.7607 15.2539 15.2495 15.7692 14.5883 15.9422C14.3884 15.9922 13.5888 15.9999 7.99577 15.9999C1.05729 15.9999 1.4417 16.0114 0.991944 15.7846C0.719018 15.6461 0.380744 15.3116 0.234671 15.0424C-0.0151913 14.5733 0.000184059 15.0117 0.000184059 8.00189C0.000184059 2.40713 0.00787272 1.60732 0.0578451 1.40737C0.230826 0.745999 0.745926 0.234589 1.41094 0.0615549C1.73769 -0.0230394 14.2846 -0.0191942 14.6037 0.0654001ZM1.51473 1.33432C1.45707 1.37661 1.3725 1.46121 1.33022 1.51888L1.24949 1.6227V8.00189V14.3811L1.33022 14.4849C1.3725 14.5426 1.45707 14.6272 1.51473 14.6695C1.61852 14.7502 1.64159 14.7502 6.13526 14.7617L10.6481 14.7694V8.00189V1.23434L6.13526 1.24203C1.64159 1.25357 1.61852 1.25357 1.51473 1.33432Z" fill="white" /></svg>');
  }
  &.sidepanel-hidden-left {
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.39634 0.0654025C0.746703 0.238436 0.239291 0.757537 0.0663095 1.41507C-0.0221032 1.74575 -0.0221032 14.258 0.0663095 14.5887C0.239291 15.2539 0.750547 15.7692 1.41172 15.9422C1.61161 15.9922 2.41117 15.9999 8.00423 15.9999C14.9427 15.9999 14.5583 16.0114 15.0081 15.7846C15.281 15.6461 15.6193 15.3116 15.7653 15.0424C16.0152 14.5733 15.9998 15.0117 15.9998 8.00189C15.9998 2.40713 15.9921 1.60733 15.9422 1.40738C15.7692 0.746002 15.2541 0.234591 14.5891 0.0615573C14.2623 -0.0230371 1.7154 -0.0191919 1.39634 0.0654025ZM4.12176 8.00189V14.7733L2.8763 14.7617C1.68465 14.7502 1.62314 14.7464 1.5232 14.6695C1.46554 14.6272 1.38097 14.5426 1.33868 14.4849C1.25796 14.3811 1.25796 14.3734 1.24643 8.10571C1.24258 4.65272 1.24643 1.77651 1.25796 1.7073C1.28487 1.55349 1.44632 1.35739 1.60392 1.28817C1.69233 1.24972 2.00754 1.23819 2.92242 1.23434H4.12176V8.00189ZM14.4853 1.33432C14.5429 1.37661 14.6275 1.46121 14.6698 1.51889L14.7505 1.62271V8.00189V14.3811L14.6698 14.4849C14.6275 14.5426 14.5429 14.6272 14.4853 14.6695C14.3815 14.7502 14.3584 14.7502 9.86474 14.7617L5.35185 14.7694V8.00189V1.23434L9.86474 1.24203C14.3584 1.25357 14.3815 1.25357 14.4853 1.33432Z" fill="white" /></svg>');
  }
  &.sidepanel-hidden-right {
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6037 0.065402C15.2533 0.238437 15.7607 0.757537 15.9337 1.41507C16.0221 1.74575 16.0221 14.258 15.9337 14.5887C15.7607 15.2539 15.2495 15.7692 14.5883 15.9422C14.3884 15.9922 13.5888 15.9999 7.99577 15.9999C1.05729 15.9999 1.4417 16.0114 0.991944 15.7846C0.719018 15.6461 0.380743 15.3116 0.234671 15.0424C-0.015192 14.5733 0.000184059 15.0117 0.000184059 8.00189C0.000184059 2.40713 0.00787258 1.60733 0.0578451 1.40738C0.230826 0.746001 0.745926 0.234591 1.41094 0.0615568C1.73769 -0.023037 14.2846 -0.0191917 14.6037 0.065402ZM11.8782 8.00189V14.7733L13.1237 14.7617C14.3154 14.7502 14.3769 14.7464 14.4768 14.6695C14.5345 14.6272 14.619 14.5426 14.6613 14.4849C14.742 14.3811 14.742 14.3734 14.7536 8.10571C14.7574 4.65272 14.7536 1.77652 14.742 1.7073C14.7151 1.55349 14.5537 1.35739 14.3961 1.28817C14.3077 1.24972 13.9925 1.23819 13.0776 1.23434H11.8782V8.00189ZM1.51473 1.33432C1.45707 1.37661 1.3725 1.46121 1.33022 1.51889L1.24949 1.62271V8.00189V14.3811L1.33022 14.4849C1.3725 14.5426 1.45707 14.6272 1.51473 14.6695C1.61852 14.7502 1.64159 14.7502 6.13526 14.7617L10.6481 14.7694V8.00189V1.23434L6.13526 1.24203C1.64159 1.25357 1.61852 1.25357 1.51473 1.33432Z" fill="white" /></svg>');
  }
}
