:root {
  --titlebar-height: 36px;
  --statusbar-height: 24px;
}

.main-layout {
  grid-template-rows: 36px 1fr 24px;
  grid-template-areas:
    "titlebar"
    "main"
    "statusbar"
  ;

  .main-container {
    grid-area: main;
    display: flex;
    flex-flow: row nowrap;

    &.swapped {
      flex-direction: row-reverse;

      #main-control-panel {
        flex-direction: row-reverse;
      }
    }
  }
}
